.sidebar {
    background: linear-gradient(to right, rgb(243, 222, 222) 0%, #e9b1b1 50%, rgb(206, 27, 27) 100%);
    height: 75px;
    display: flex;
    justify-content: space-evenly;
    padding-top: 2%;
}

.sidebar a {
    text-decoration: underline;
}

li a {
    text-decoration: none;
    color: rgb(0, 0, 0);
    font-size: 13px;
}

.active {
    font-weight: bolder;
    text-decoration: underline;
}

.sidebar a {
    text-decoration: none;
}

.sidebar a:hover {
    text-decoration: underline;
}

li {
    list-style-type: none;
    color: black;
}

@media only screen and (min-width: 468px) {
    li a {
        font-size: 15px;
    }
}

@media only screen and (min-width: 618px) {
    li a {
        font-size: 16px;
    }
}

@media only screen and (min-width: 768px) {
    .sidebar {
        position: fixed;
        border: 0px solid;
        border-radius: 5px;
        width: 150px;
        height: 270px;
        display: block;
        padding: 0;
        background: linear-gradient(to right,rgb(206, 27, 27) 0%, #e9b1b1 50%, rgb(243, 222, 222) 100%);
    }
    li a {
        font-size: 13px;
    }
    li {
        margin: 30px 15px;
    }
}

@media only screen and (min-width: 968px) {
    .sidebar {
        width: 190px;
    }
    li a {
        font-size: 16px;
    }
}

@media only screen and (min-width: 1168px) {
    .sidebar {
        height: 300px;
        width: 200px;
        font-size: 17px;
    }
    li a {
        font-size: 20px;
    }
}