.RegistrationForm {
    width: 52.5%;
    height: 475px;
}

.Criteria {
    display: none;
    font-size: 12px;
    width: 47.5%;
    font-weight: 500;
    margin-top: 0;
    margin-bottom: 10px;
}




@media only screen and (min-width: 768px) {
  
    .Input2 {
        width: 225px;
    }
}

@media only screen and (min-width: 1000px) {
    .Form {
        width: 525px;
    }
    .Criteria {
        display: block;
    }
}