.RedZone-Budget{
    text-align: center;
    margin-left: 26%;
    margin-right: 3%;
    display: flex;
    font-size: 24px;
    font-weight: 500;
}

.state-amount{
    margin-bottom: 2%;
    margin-left: 3%;
    display: flex;
    font-size: 24px;
}

.ExpenseList__Filters {
    margin-top: 3%;
    margin-left: 3%;
    margin-right: 3%;
    display: flex;
}

.ExpenseList__Select {
    width: 30vw;
    margin: 2px;
    height: 30px;
    border-radius: 5px;
    border: 1px solid #000000;
    font-size: 0.5rem;
    padding: 1%;
}

.ExpenseList {
    text-align: center;
}


@media only screen and (min-width: 420px) {
    .ExpenseList__Select {
        font-size: 0.75rem;
    }

}

@media only screen and (min-width: 520px) {
    .ExpenseList__Select {
        font-size: 0.80rem;
    }
}

@media only screen and (min-width: 620px) {
    .ExpenseList__Select {
        font-size: 0.85rem;
        padding: 0.05%;
    }
}

@media only screen and (min-width: 720px) {
    .ExpenseList__Select {
        font-size: 0.9rem;
    }
}

@media only screen and (min-width: 784px) {
    .RedZone-Budget{
        margin-left: 36%;
    }
    .ExpenseList__Filters {
        margin-top: 0.5%;
        display: flex;
        margin-left: 25%;
    }
    .ExpenseList__Select {
        width: 20vw;
        margin: 3px;
    }
}

@media only screen and (min-width: 820px) {
    .RedZone-Budget{
        margin-left: 39%;
    }
    .ExpenseList__Select {
        height: 32px;
    }
}

@media only screen and (min-width: 1120px) {
    .RedZone-Budget{
        margin-left: 42%;
    }
    .ExpenseList__Select {
        margin: 4px;
    }
}

@media only screen and (min-width: 1220px) {
    .ExpenseList__Filters {
        margin-left: 22.5%;
    }
}

@media only screen and (min-width: 1320px) {
    .ExpenseList__Filters {
        width: 75%;
    }
    .ExpenseList__Select {
        margin: 5px;
        font-size: 1rem;
    }
    .ExpenseList__Copyright {
        font-size: 18px;
    }
}

@media only screen and (min-width: 1370px) {
    .ExpenseList__Filters {
        width: 55%;
    }
}

@media only screen and (min-width: 1420px) {
    .ExpenseList__Select {
        width: 15vw;
        margin: 10px;
    }
}