.Header {
    height: 50px;
    display: flex;
    align-items: normal;
    justify-content: space-between;
    background-color: rgb(206, 27, 27);
}

.Header h1 {
    margin: auto 1vw;
    font-size: 23px;
    color: #ffffff;
    margin-right: 10px;
}

.Header a {
    color: #ffffff;
    text-decoration: none;
    margin-right: 10px;
}

.SignOut {
    margin: auto 5px;
    font-size: 16px;
    font-weight: bold;
}

@media screen and (min-width: 768px) {
    .Header a {
        font-size: 1.5rem;
    }
    .SignOut {
        margin-top: 10px;
    }
    .SignOut a {
        font-size: 1.3rem;
        margin-right: 20px;
    }
}