.addNewCenter  {
    margin-top: 10px;
    display: flex;
    justify-content: center;
}


.addNew {
    margin-top: 10px;
    font-size: 1.3rem;
    padding: 10px;
    display: flex;
    letter-spacing: 2px;
    justify-content: center;
    cursor: pointer;
    border-width: 10px;
    border-radius: 30px;
    border-color: rgb(13, 11, 85);
    background: rgb(245, 113, 5);
    font-family: 'DM Mono', monospace;
    text-transform: uppercase;
    color: #fff;
}

.addNew:hover {
    background-color: rgb(230, 89, 54);
  }
