.AddExpenseForm {
    width: 60%;
    height: 500px;
    margin: 50px auto;
    padding:50px;
    background: linear-gradient(to bottom right,#1e2020 0,#ac3621);
    color:rgb(248, 248, 248);
    border:2px solid #C2D6FF;
    border-radius: 10px;
    font-weight: 700;
}

.AddExpenseForm__Options {
    display: block;
}

input#date, input#amount, select#style {
    width: 200px;
    display: block;
    margin-bottom: 20px;
    margin-top: 5px;
    height: 20px;
    border-radius: 5px;
    border: 1px solid black;
    font-size: 14px;
    padding: 2%;
}

select#style {
    height: 40px;
}

.description {
    width: 75%;
    margin: 0;
    font-size: 17.5px;
}

#description {
    width: 200px;
    display: block;
    margin-bottom: 20px;
    border-radius: 5px;
    height: 100px;
    padding: 2%;
    font-size: 15px;
}

.required {
    color: #CA1551;
}

.AddExpenseForm__button {
    margin-top: 20px;
    border-radius:5px;
    border:none;
    padding:10px 25px;
    color:#FFF;
    text-shadow:1px 1px 1px #949494; 
    background-color: rgb(0, 0, 0);
    font-size: 20px;
}

.AddExpenseForm__button:hover {
    cursor: pointer;
    background-color: rgb(196, 30, 30);
}

@media screen and (min-width: 355px) {
    .AddExpenseForm {
        height: 450px;
    }
}

@media screen and (min-width: 768px) {
    .AddExpenseForm {
        margin-left: 25%;
        width: 35%;
        height: 400px;
    }
    input#date, input#amount, select#style {
        width: 300px;
        height: 25px;
        padding: 2px;
    }
    #description {
        width: 290px;
        height: 60px;
    }
}